
 <h3>The details of user</h3>
 
 <table border="1">
  <tr>
    <th>FirstName  </th>
    <th>LastName </th>
    <th>Email </th>
   </tr>
   <tr>
      <td><%= @user.firstname %></td>
      <td><%= @user.lastname %></td>
      <td><%= @user.email %></td>
      <td><%= link_to 'Edit', user_edit_path%></td>
      <td><%= link_to 'Add_project', project_new_path%></td>
      </tr>
</table> 

<%= link_to 'add new user', user_create_path %>